.line{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:24px;
}
.line-1-content{
    width:620px;
    height:190px;
    text-align: justify;
}
.semibold{
    font-family: 'SVN-GilroyBold';
    font-size:24px;
}
.normal{
    padding-top:8px;
    
}

.line-2-content{
    width:620px;
    height:248px;
    text-align: justify;
}

.italic{
    font-family: 'SVN-GilroyBold';
    font-size:24px;
    font-style: italic;
}

.line-3-content{
    width:620px;
    height:344px;
    text-align: justify;
}

@media (max-width: 430px) {
    
    .line{
        
        flex-direction: column;
        max-width:390px;
        
    }
    .container{
        max-width:390px;
        width:100%;
        margin-inline: auto;
    }
    .line-1-content{
        max-width:390px;
        height:296px;
    }
    .line-1-img {
        margin-top:32px;
    }
    .line-2-content{
        margin-top:32px;
        max-width:390px;
        height:fit-content;
    }
    .italic {
        margin-left:32px;
        text-align: center;
        width:320px;
    }
    .line-3-img {
        margin-top:32px;
    }
    .line-3-content{
        
        max-width:390px;
        height:fit-content;
    }
}