.product-detail-block{
    display: flex;
    justify-content: space-between;
}
.product-detail-block3{
    margin-top:16px;
    display: flex;
    justify-content: center;
}
.product-detail-block5{
    margin-top:16px;
    display: flex;
    justify-content: space-between;
}
.card-wrapper{
    max-width: 512px;
    display: flex;
   
}
.about-product{
    display: flex;
    justify-content: space-between;
    width:672px;
}
.card{
  display: flex;
    justify-content: space-between;
    width:672px;
}
.product-img{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
    width:672px;
}
.product-img img{
   
    display: block;  
}

.img-display{
    overflow: hidden;
    
}
.img-showcase{
    display: flex;
    width: 100%;
    width:512px;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
    flex-direction: column;
    width:127px;
    gap:4.5px;
}
.img-item{
    margin: 0.3rem;
    max-width: 127px;
    max-height: 127px;
    width:127px;
    height:127px;
}
#mobile{
  display: none;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}

.img-btn{
  margin-top: 8px;
  position: absolute;
  display: flex;
  justify-content: right;
  width:512px;
}

.btn-prev11,.btn-next11{
  position: static !important;
  transform: translate(0, 0);
  background-color: var(--primary);
  width: 40px;
  height: 40px;
  border: none;
  
  border-radius: 4px;
}
.btn-prev11 i, .btn-next11 i{
  margin-left: 8px;
  text-align: center;
  font-size: 16px;
  color: white;
}
.btn-prev11{
  margin-right: 8px;
}

.product-detail-info{
    width:564px;
}

.product-detail-name{
    margin-top:32px;
    font-family: 'SVN-GilroyBold';
    font-size: 32px;
}

.product-detail-line{
    margin-top:24px;
    display: flex;
    gap:16px;
    align-items: center;
}

.semibold{
    font-family: 'SVN-GilroySemiBold';
}

.medium{
    font-family: 'SVN-GilroyMedium';
}

.line1{
    display: flex;
    gap:4px;
}

.product-detail-line1{
    margin-top:8px;
}

.product-detail-line2{
    margin-top:16px;
}

.pd-price{
    font-family: 'SVN-GilroyBold';
    font-size:32px;
    color:var(--primary);
}

.pd-sale-price{
    text-decoration:line-through;
    font-size:20px;
    margin-left:12px;
}

.product-sale1{
    margin-left:12px;
}

.product-sale1 p{
    width: fit-content;
    padding-left: 6px;
    padding-right:6px;
    height: 31px;
    background-color: var(--sale);
    color: #FFFFFF;
    font-family: 'SVN-GilroyBold';
    font-size:  18px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrapper1{
    font-size:20px;
    width:200px;
    height:48px;
    border:1px solid var(--grayD9);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    gap:32px;
    align-items: center;
}
.wrapper1 span{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-art-cart{
    margin-top: 16px;
    width:259px;
    height:48px;
    border: 1px solid var(--primary);
    color:var(--primary);
    font-family: 'SVN-GilroySemiBold';
    border-radius: 4px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.btn-add-cart1{
   
    width:259px;
    height:48px;
    border: 1px solid var(--primary);
    color:var(--primary);
    font-family: 'SVN-GilroySemiBold';
    border-radius: 4px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.btn{
    border: none;
    background:transparent;
    color:var(--grayD9);
}

.btn i:hover{
    cursor: pointer;
}

.btn-buy-now{
    margin-top: 16px;
    width:536px;
    height:48px;
    background-color: var(--primary);
    color:white;
    font-family: 'SVN-GilroySemiBold';
    border-radius: 4px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.btn-buy-now1{
   
    width:536px;
    height:48px;
    background-color: var(--primary);
    color:white;
    font-family: 'SVN-GilroySemiBold';
    border-radius: 4px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.rule{
    color:var(--black);
    text-decoration: underline;
}

.block-info-1{
    width:760px;
}

.block-title{
    font-family: 'SVN-GilroyBold';
    font-size: 32px;
    margin-top: 64px;
}

.block-rate{
    display: flex;
    justify-content: center;
}
.block-rate-1{
    width:760px;
    display: flex;
    justify-content: space-between;
}

.size36{
    font-size:36px;
    display: flex;
    
    align-items: center;
  
}
.size24{
    font-size:24px;
    
}

.block-1{
    text-align: center;
    padding:4px;
}

.block-1 i{
    margin-top: 12px;
}

.block-2{
    height:134px;
    border: 1px solid var(--grayD9);
}

.product-detail-block4{
    display: flex;
    justify-content:space-between;
    margin-top:32px;
}
.rate-info{
    
    width:1209px;
}
.rate-info-name{
    display: flex;
    justify-content: space-between;
    font-family:'SVN-GilroySemiBold';
    font-size:20px;
}

.rate-info-score{
    margin-top:8px;
    display: flex;
    gap:24px;
}

.rate-info-text{
    margin-top:8px;
}

.rate-info-img{
    margin-top:16px;
    display: flex;
    gap:16px;
}

.fui-basic-pagination .pagination-list {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .fui-basic-pagination .pagination-link {
    display: block;
    min-width: 32px;
    height: 32px;
    border-radius: 4px;
    padding-inline: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    user-select: none;
    font-family: 'SVN-GilroyMedium';
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .fui-basic-pagination .pagination-link:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
  .fui-basic-pagination .pagination-link.selected {
    background-color: var(--primary);
    color: white;
  }

  .fui-basic-pagination{
    margin-top:32px;
    display: flex;
    justify-content: center;
  }

.pagination-item a{
    color:var(--black);
  }


  .btn-review{
    margin-top: 16px;
    width:760px;
    height:48px;
    
    color:var(--primary);
    font-family: 'SVN-GilroySemiBold';
    border-radius: 4px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.btn-review1{
   
    width:760px;
    height:48px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    color:var(--primary);
    font-family: 'SVN-GilroySemiBold';
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.modal{
    position: fixed;
    top:0;
    z-index: 1000000;
    height:100vh;
    width:100vw;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
}

.modal-inner{
    
    border-radius:4px;
    margin:auto;
    background: white;
    width:920px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:16px;
    margin-right:16px;
    margin-top:16px;
}

.sale-header{
    font-family: 'SVN-GilroyBold';
    font-size:20px;
}

.modal-header i{
    cursor: pointer;
}

.modal-body{
    margin-left:16px;
    margin-right:16px;
    margin-top:16px;
    
}
.modal-body p{
    line-height:1.7;
}

.modal-body li{
    line-height:1.7;
}
.sale-title{
    font-family: 'SVN-GilroySemiBold';
    font-size:16px;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.btn-copy{
    display: flex;
    justify-content: center;
    align-items: center;
    width:424px;
    height:48px;
    font-family: 'SVN-GilroySemiBold';
    font-size:16px;
    background-color: var(--primary);
    border-radius: 4px;
    color: white;
    margin-top: 16px;
    margin-bottom:16px;
    border:none;
    cursor: pointer;
}

.review-product{
    display: flex;
    justify-content: center;
    gap:16px;
    align-items: center;
}
.review-product img{
    max-width: 88px;
    max-height: 88px;
}

.review-product div{
    font-size:20px;
    width:275px;
    height:56px;
}

.rating-box{
    margin-top:16px;
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.rating-box .stars {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .stars i {
    color: #e6e6e6;
    font-size: 32px;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .stars i.active {
    color: var(--rate);
  }

  .block-input1{
    margin-top: 16px;
  }
.center {
    display: flex;
    justify-content: center;
}  

  .fui-basic-input4 .input {
    
    padding-left: 15px;
    padding-bottom:72px;
    border-radius: 4px;
    border: 1px solid var(--grayD9);
    transition: linear 0.2s;
    width:888px;
    height:124px;
    color: var(--black);
    display: flex;
    flex-wrap: wrap;
  }

.review-add-img{
    margin-top: 16px;
}


  * {
    margin: 0;
    padding: 0;
  }

  ul, li {
    list-style: none;
    list-style-type: none;
  }
  .h3{
    color: var(--black);
  }

  /* ====================== Img Upload Box ====================== */
  .fui-upload-img-list .image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(106px, 1fr));
    gap: 10px;
  }
  .fui-upload-img-list .image-item {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  .fui-upload-img-list .image-item.upload-box {
    border: 1px dashed #cfcfcf;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .fui-upload-img-list .image-item.upload-box.isDragover, .fui-upload-img-list .image-item.upload-box:hover {
    border-color: #307dca;
  }
  .fui-upload-img-list .image-item.upload-box label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    background-color: #f8f8f8;
  }
  .fui-upload-img-list .image-item.upload-box label.disabled {
    pointer-events: none;
  }
  .fui-upload-img-list .image-item.upload-box svg {
    width: 28px;
    height: 28px;
  }
  .fui-upload-img-list .image-item.upload-box svg path {
    fill: #a3a3a3;
  }
  .fui-upload-img-list .image-item.upload-box h3 {
    font-size: 14px;
    color: #313030;
  }
  .fui-upload-img-list .image-item.img-box {
    position: relative;
    padding: 5.58%;
    border: 1px solid #cfcfcf;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  .fui-upload-img-list .image-item.img-box img {
    border-radius: 6px;
  }
  .fui-upload-img-list .image-item.img-box:hover .img-options {
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
  .fui-upload-img-list .image-item.img-box .img-options {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-out;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .fui-upload-img-list .image-item.img-box .img-options ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
  }
  .fui-upload-img-list .image-item.img-box .img-options ul li {
    opacity: 0.8;
    width: 16%;
    height: 16%;
    transition: all 0.3s ease;
  }
  .fui-upload-img-list .image-item.img-box .img-options ul li.img-cancel {
    width: calc(16% - 4px);
    height: calc(16% - 4px);
    margin-bottom: -2px;
  }
  .fui-upload-img-list .image-item.img-box .img-options ul li:first-child {
    margin-bottom: -3px;
  }
  .fui-upload-img-list .image-item.img-box .img-options ul li:hover {
    opacity: 1;
  }
  .fui-upload-img-list .image-item.img-box .img-options ul li svg {
    width: 100%;
    height: 100%;
  }
  .fui-upload-img-list .image-item.img-box .img-options ul li svg path {
    fill: white;
  }
  .fui-upload-img-list .image-item .progress-upload-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .fui-upload-img-list .image-item .progress-upload-completed {
    text-align: center;
  }
  .fui-upload-img-list .image-item .progress-upload-completed svg {
    margin: auto;
    width: 30px;
    height: 30px;
    color: #16a34a;
    margin-bottom: 8px;
  }
  .fui-upload-img-list .image-item .progress-upload-text {
    font-size: 14px;
    color: #696969;
    text-align: center;
  }
  .fui-upload-img-list .image-item .progress-upload-bar {
    position: relative;
    width: 90%;
    height: 3px;
    background-color: #ebebeb;
    border-radius: 50px;
    overflow: hidden;
  }
  .fui-upload-img-list .image-item .progress-upload-bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #307dca;
  }
  .fui-upload-img-list button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #307dca;
    border-radius: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .fui-upload-img-list button:hover {
    opacity: 0.6;
  }
  .fui-upload-img-list button.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  /* ====================== End Img Upload Box ====================== */

  /* ====================== Resize Img ====================== */
  .wrapImgResize {
    overflow: hidden;
    position: relative;
    display: block;
  }
  .wrapImgResize video,
  .wrapImgResize iframe,
  .wrapImgResize img {
    object-fit: cover;
    width: 101%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 101%;
    max-height: 101%;
    user-select: none;
  }
  .wrapImgResize.img16And9 {
    padding-top: 56.25%;
  }
  .wrapImgResize.imgSquare {
    padding-top: 100%;
  }
  .wrapImgResize.img9And16 {
    padding-top: 177%;
  }
  .wrapImgResize.img3And4 {
    padding-top: 133.33333333%;
  }
  .wrapImgResize.imgSpecial1 {
    padding-top: 126%;
  }
  /* ====================== End Resize Img ====================== */

  /* ====================== Overlay ====================== */
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .overlay.type2 {
    display: block;
  }
  /* ====================== End Overlay ====================== */

  /* ====================== Modal ====================== */
  .overlay .modal {
    position: relative;
    min-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .overlay .modal.modal-view-img {
    position: relative;
    transition: transform 0.4s ease, opacity 0.4s linear;
    transform: scale(0);
    opacity: 0;
    margin: auto;
    max-height: calc(100vh - 200px);
    overflow: hidden;
    display: flex;
  }
  .overlay .modal.modal-view-img .modal-inner {
    width: 100%;
    overflow: hidden;
  }
  .overlay .modal.modal-view-img h3 {
    text-align: left;
    font-size: 16px;
    color: #5f5f5f;
    width: calc(100% - 40px);
    text-transform: capitalize;
  }
  .overlay .modal.modal-view-img img {
    width: 100%;
    object-fit: contain;
  }
  .overlay .modal.modal-view-img.is-open {
    transform: scale(1);
    opacity: 1;
  }
  .overlay .modal-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  .overlay .modal-close:hover svg path {
    fill: #df0606;
  }
  .overlay .modal-close svg {
    width: 20px;
    height: 20px;
  }
  .overlay .modal-close svg path {
    transition: all 0.3s linear;
    fill: #a3a3a3;
  }
  .overlay .modal-inner > h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .overlay .modal-inner > p {
    width: 80%;
    margin: auto;
    line-height: 1.2;
  }
  .overlay .modal-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .overlay .modal-btn button {
    border-radius: 4px;
    padding: 4px 40px;
    background-color: #307dca;
    color: white;
  }
  .overlay .modal-btn button.btn-destroy {
    background-color: #df0606;
  }
  /* ====================== End Modal ====================== */

  .hide{
    display: none;
}
.btn1{display: none;}
/*Sửa xóa đánh giá*/
.product-sum11:hover .dropdown0{
  display:flex;
}
.dropdown0{
  display: none;
}
.dropdown-top11{
  
  width:fit-content;
}
.product-dropdown11{
  position: absolute;
  right:187px;

}
.product-dropdown11 a{
  width:132px;
  height:88px;
  font-size:16px;
  font-family: 'SVN-GilroyMedium';
  color:var(--black);
  
}
.about-dropdown-option11{
  position: relative;
  z-index: 1000;
  padding:16px 16px 16px 16px;
  width:132px;
  height:88px;
  background-color: #FFFFFF;
  align-items: top;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about-dropdown-option11 li{
  width:100px;
  margin-top:4px;
  height:24px;
}
.mobile-border{display:none}
@media (max-width: 430px) {
  .product-detail-block{
    flex-direction: column;
  }
  #desktop{
    display: none;
  }
  #mobile{
    margin-top:8px;
    display: flex;   
    flex-direction: row;
    justify-content: center;
    width:388px;
    align-items: center;
}
.img-item1{
    
    width:80px; 
}
.product-img{
  flex-direction: column;
  width:390px;
}
.about-product {
  display: flex;
  justify-content: space-between;
  width: 390px;

}
.card,.img-showcase{

  width: 390px;
}
.img-btn,.btn{
  display: none;
}
.product-detail-info{
  width:390px;
}
.btn-add-cart, .btn-add-cart1{
  width:242px;
}
.wrapper1{
  gap:16px;
  width:140px;
}
.btn1{
  display: block;
  color: var(--grayD9);
  background-color: transparent;
  border: none;
}
#line-mobile{
  gap:14px;
}
#line-mobile-2{
  gap:0;
  justify-content: space-between;
}
.btn-buy-now, .btn-buy-now1{
  width: 390px;
}
.btn-prev-mobile,.btn-next-mobile{
  border:none;
  background-color: transparent;
  width:20px;
  height:20px;
  
}

.btn-next-mobile{
  padding-left:8px;
}
.product-detail-name {
  margin-top:24px;
  line-height: 1.3;
}
.product-detail-line {
  margin-top:16px;
}
.block-title{
  margin-top:32px;
}
.product-detail-block5{
  flex-direction: column;
}
.block-info-1{
  margin-top:24px;
  width:390px;
  order:2;
}
.block-img{
  
  order:1;
}
.product-detail-block3{
  flex-direction: column;
  
}
.block-rate-1{
  flex-direction: column;
}
.block-1{
  display: flex;
  align-items: center;
  justify-content: space-between
}
.mobile-border{display:flex}

.block-2{display:none;}

.btn-review, .btn-review1{
  width:390px;
}
.rate-img{
  width:60px;
  height:60px;
}
.rate-info{
  width:310px;
}
.rate-info-img img{
  width:80px;
  height:80px;
}
.product-dropdown11{
  position: absolute;
  right:22px;

}

.breadcrumb-list{
  flex-wrap: wrap;
}

.sale-top p{
  font-size:24px;
}
.slider-btns{
  display: none;
}
.btn-more-small{
  width:91px;
  height:32px;
  font-size: 14px;
}

.modal-inner{
  width:390px;
}
.fui-basic-input4 .input {
    width:350px;
    flex-wrap: wrap;
}
.btn-copy{
  width:350px;
}
}
