.user-table{
    margin-top: 24px;
    width: 984px;
    height: fit-content;
    padding-bottom: 16px;
    border: 1px solid var(--grayD9);
    border-radius: 4px;
}

.table-title{
    margin-left:24px;
    margin-top:16px;
    font-family: 'SVN-GilroyBold';
    font-size: 20px;
}

.user-change-password{
    display: flex;
    justify-content: space-between;

}
.table-line{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-left:24px;
    margin-right: 24px;
}

.text-box-title{
    font-family: 'SVN-GilroyMedium';
    
}
.fui-input-password {
    position: relative;
    display: inline-block;
    width: 936px;
    height:48px;
  }
  .fui-input-password .input {
    padding: 14px 741px 14px 16px;
    border-radius: 4px;
    border: 1px solid var(--grayD9);
    transition: linear 0.2s;
  }
  .fui-input-password .input::-webkit-input-placeholder {
    color: #9ca3af;
  }
  .fui-input-password .input::-moz-input-placeholder {
    color: #9ca3af;
  }
  .fui-input-password .input:focus {
    border-color: var(--primary);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1),
      0 2px 2px -2px rgba(0, 0, 0, 0.1);
  }
  .fui-input-password .icon {
    color: #9ca3af;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
  }
  .fui-input-password .icon svg {
    height: 18px;
  }
  .fui-input-password .eye-on.hidden {
    display: none;
  }
  .fui-input-password .eye-off {
    display: none;
  }
  .fui-input-password .eye-off.active {
    display: block;
  }



  .fui-input-password2 {
    position: relative;
    display: inline-block;
    width: 456px;
    height:48px;
  }
  .fui-input-password2 .input {
    width: 456px;
    height:48px;
    padding: 14px 0 14px 16px;
    border-radius: 4px;
    border: 1px solid var(--grayD9);
    transition: linear 0.2s;
  }
  .fui-input-password2 .input::-webkit-input-placeholder {
    color: #9ca3af;
  }
  .fui-input-password2 .input::-moz-input-placeholder {
    color: #9ca3af;
  }
  .fui-input-password2 .input:focus {
    border-color: var(--primary);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1),
      0 2px 2px -2px rgba(0, 0, 0, 0.1);
  }
  .fui-input-password2 .icon {
    color: #9ca3af;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
  }
  .fui-input-password2 .icon svg {
    height: 18px;
  }

  .fui-input-password2 .eye-on2.hidden {
    display: none;
  }
  .fui-input-password2 .eye-off2 {
    display: none;
  }
  .fui-input-password2 .eye-off2.active {
    display: block;
  }
  
  .fui-input-password2 .eye-on3.hidden {
    display: none;
  }
  .fui-input-password2 .eye-off3 {
    display: none;
  }
  .fui-input-password2 .eye-off3.active {
    display: block;
  }

  
  .fui-input-password3 {
    position: relative;
    display: inline-block;
    width: 456px;
    height:48px;
  }
  .fui-input-password3 .input {
    width: 456px;
    height:48px;
    padding: 14px 0 14px 16px;
    border-radius: 4px;
    border: 1px solid var(--grayD9);
    transition: linear 0.2s;
  }
  .fui-input-password3 .input::-webkit-input-placeholder {
    color: #9ca3af;
  }
  .fui-input-password3 .input::-moz-input-placeholder {
    color: #9ca3af;
  }
  .fui-input-password3 .input:focus {
    border-color: var(--primary);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1),
      0 2px 2px -2px rgba(0, 0, 0, 0.1);
  }
  .fui-input-password3 .icon {
    color: #9ca3af;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
  }
  .fui-input-password3 .icon svg {
    height: 18px;
  }

  .fui-input-password3 .eye-on3.hidden {
    display: none;
  }
  .fui-input-password3 .eye-off3 {
    display: none;
  }
  .fui-input-password3 .eye-off3.active {
    display: block;
  }
  
  .fui-input-password2 .eye-on3.hidden {
    display: none;
  }
  .fui-input-password2 .eye-off3 {
    display: none;
  }
  .fui-input-password2 .eye-off3.active {
    display: block;
  }

  .submit-button{
    
    width:312px;
    height:48px;
    background-color: var(--primary);
    border-radius: 4px;
}



.submit{
    cursor: pointer;
    font-family: 'SVN-GilroySemiBold';
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:312px;
    height:48px;
    border: 0.0001px solid var(--primary);
    background-color: var(--primary);
    color:white;
    border-radius: 4px;
}
.button-center{
    margin-top:32px;
    display: flex;
    justify-content: center;
}

@media (max-width: 430px) {

  .user-info{
    flex-direction: column;
  }
  .user-info-left{
    border: 1px solid var(--grayD9);
    border-radius: 4px;
    margin-top:24px;
  }
  .user-left__option{
    width: 390px;
    height: 56px;
    display: flex;
    align-items: center;
    border:none;
    display: none;
    
    
}

#option-choose a{
padding-left: 40px;
font-family: 'SVN-GilroySemiBold';
width: 390px;
height: 56px;
display: flex;
align-items: center;
color: var(--primary);  
border:none;


background-color: var(--secondary);
font-size: 16px;    
}
.user-left__option a{
padding-left: 40px;
font-family: 'SVN-GilroySemiBold';
width: 390px;
height: 56px;
display: flex;
align-items: center;
color: var(--black);  
font-size: 16px;  
border:none;

}
.right-info{
display: block;
}

.user-left__list{
margin-top:0px;
/* border:none; */
width: 390px;
height: 56px;
display: flex;
align-items: center;
justify-content: space-between;

font-family: 'SVN-GilroyBold';
color: var(--black);
border-radius: 4px 4px 0 0;
}

/* .user-info-left.active .user-left__list i{
transform: rotate(-180deg);
} */

.user-info-left.active .user-left__option{
display:block;
}

.user-change-password{
  flex-direction: column;
}

.user-table{
  width:390px;
  border:none;
}
.table-title{
  margin-left:0;
}
.table-line{
  width:390px;
  margin-left:0;
  flex-direction: column;
  gap:16px;
}

.fui-input-password, .fui-input-password2, .fui-input-password3{
  width:390px
}
.fui-input-password .input {
  padding: 14px 196px 14px 16px;
  width:390px;
}

.fui-input-password2 .input{
  width:390px;
  padding: 14px 196px 14px 16px;
}
.fui-input-password3 .input{
  width:390px;
  padding: 14px 196px 14px 16px;
}
.submit{
  width: 390px;
}
}
